body{
    background-color: #b8c0ff;
}

.heading{
    text-align: center;
    font-size: 50;
    font-style: normal;
    color: black;
}

.form{
    color:black;  
    background-color: #f7dff5;  
    border: 4px solid #000000;
    margin: auto;
    width: min(600px, 80%);
    padding: 20px;
    border: 3px solid #000;
    border-radius: 10px;
}

.label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;


}

.text{
    width: 550px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.msg{
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    height: 80px;
}

.btn{
    background-color: rgb(218,41,28);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(226, 29, 29, 0.877);
}
