@import url('./pages/feedback.html');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',seans-serif;
    box-sizing: border-box;
    outline: none;
    color:white;
}
section{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(30%);
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #B8C0FF;
}
.container{
    width: 560px;
    background-color: black;
    box-shadow: 0 0 8px rgba(250,250,250,0.6);
    opacity: 0.6;
    height: auto;

}
.container form{
    width: 100%;
    text-align: center;
    padding: 25px 20ox;
}
form h1{
    padding: 10px 0;
}
form .id{
    position: relative;
}
.id i{
    position:absolute;
    font-size: 20px;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
}

form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background-color: #181717;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;

}
form textarea{
    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background-color: #181717;
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
}
form button{
    margin-top: 5px;
    text-decoration: none;
    background-color: #00fff0;
    color: #000;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}

form button:hover{
     box-shadow: 1px 2px 4px black;
}
form input:focus,
form textarea:focus{
    border: 1px solid #00fff0;
    color: #00fff0;
    transition: all 0.3s ease;
}
form input:focus::placeholder,
form textarea:focus::placeholder{
    padding-left: 4px;
    color: #00fff0;
    transition: all 0.3s ease;
}



