@font-face {
  font-family: sbhed;
  src: url(../fonts/head.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*background video start*/

html,
body {
  width: 100%;
  height: auto;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000;
}

.back {
  /* background-color: rebeccapurple; */
  width: 100%;
}

.back video {
  max-width: 100%;
  /* position: absolute; */
  top: 0;
  margin-left: 2vw;
}

/*background video end*/
.top {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 70px;
  font-weight: bolder;
  font-stretch: 300%;
  font-family: sbhed;
  background-color: #000000ba;
  /* text-shadow: 2px 2px 8px white; */
  padding: 20px 0;
}

.main-top{
  background: linear-gradient(-45deg, #B8C0FF 0%, #9101ff1d 100% );

}


#whatsapp :hover{
  scale: 1.2;

}
.top h3 {
  top: 6vw;
  font-size: 7vw;
  right: 10vw;
  position: relative;
  /* display: inline-block; */
  color: #9a9de8;
  line-height: 7vw;
  text-shadow: 2px 2px 8px black;
}

.top button {
  font-size: 2vw;
  top: 6vw;
  right: 25.5vw;
  padding: 1vw 4vw;
  position: relative;
  background: linear-gradient(-45deg, #B8C0FF 0%, #8f01ff 100% );
  border: none;
  transition: 0.5s;
  font-weight: 600;
  border-radius: 2px;
}


.top button:hover{
  cursor: pointer;
}

.top h3:nth-child(1) {
  right: 16vw;
}




.top h3:nth-child(2){
  overflow: hidden; 
  animation: 
  typin 3.5s steps(100, start),
  blink-care 1s step-end infinite
}

@keyframes typing {
  from { right: -30%; }
  to { width:100% }
}



.top h3:nth-child(1){
  overflow: hidden; 
  animation: 
  typing 3.5s steps(100, start),
  blink-caret 1s step-end infinite
}

@keyframes typin {
  from { top: -30%; }
  to { width:100% }
}





.top button:hover {
  background-color: #e7c6ff;
  /* background-color: transparent; */
  scale: 0.89;
}

/* course cards start*/
.course {

  height: auto;
  padding-top: 30px;
  box-shadow: 2px 1px 3px 2px black;
}

.course .waviy{
  font-size: auto;
}

.course h1 {
  margin: 25px auto;
  text-align: center;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
/* padding: 20px auto;
*/
padding-top: 50px;
padding-left: 90px; 
padding-bottom: 20px;
  gap: 20px;
}

.card-list .card-item {
  background: linear-gradient(-45deg, #b8c0ffaa 0%rgba(145, 1, 255, 0.654)ff 100% );

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.542);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: 1s ease;
}

.card-list .card-item:hover {
  border: 2px solid #000;
  scale: .97;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.542);
}

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
  transition: .5s;

}

.card-list .card-item img:hover{
  overflow: hidden;
  scale: 1.09;
}

.card-list span {
  text-transform: uppercase;
  display: block;
  /* background: #F7DFF5; */
  margin: 0 auto;
  margin-top: 10px;
  padding: 8px 15px;
  font-size: 1.4vw;
  border-radius: 50px;
  font-weight: 600;
}

.succ{
  background: linear-gradient(-45deg, #B8C0FF 0%, #b16de51d 100% );
  border-bottom: none;
padding: 20px 0;
}

.card-list .developer {
  background-color: #f7dff5;
  color: #b22485;
}

.card-list .designer {
  background-color: #d1e8ff;
  color: #2968a8;
}

.card-list .editor {
  background-color: #d6f8d6;
  color: #205c20;
}

.card-item h3 {
  color: #000;
  font-size: 1.438rem;
  /* margin-top: 8px; */
  text-align: center;
  font-weight: 600;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: .6vw 2.5vw;
  font-size: 20px;
  color: #000;
  border: none;
  /* height: 40px; */
  border-radius: 10px;
  background: linear-gradient(-45deg, #B8C0FF 0%, #8f01ff 100% );
  /* margin-bottom: -10px; */
  margin-top: 15px;
  font-weight: 500;
}

.card-list .card-item .btn:hover {
  background: transparent;
  color: #000;
  scale: 0.89;
cursor: pointer;
  transition: 0.5s;
  border: 1px solid black;
}

/* course cards end*/
/* alumni cards start*/
.waviy {
text-align: center;
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  
  position: relative;
  display: inline-block;
  color: black;
  letter-spacing: -5px;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.2s * var(--i));
  
}
@keyframes wavi {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}





.Alumni {
  background-color: #c8b6ff;
  height: 500px;
  box-shadow: 2px 1px 3px 2px black;
  width: 100%;
  justify-content: center;
align-items: center;
  display: flex;
  gap: 20px;
  border: none;
  /* flex-wrap: wrap; */
}



.waviy-succ{
  text-align: center;
  font-size: 60px;
  letter-spacing: -5px;
  padding: 20px;
text-shadow: 5px 5px 10px rgb(48, 34, 34);
}






.card-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #B8C0FF 0%, #8f01ff 100% );
  color: #000;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translatex(100%);
  transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateX(20%);
}

.card:hover .front-content p {
  opacity: 0;
}



/* alumni cards end*/


 



/* Empower section starts*/
.Empower {
  background-color: #c8b6ff;
  height: 400px;
  box-shadow: 2px 1px 3px 2px black;
  width: 100%;
  justify-content: center;
  padding: 20px;
  display: flex;
  /* flex-wrap: wrap; */
}

.Empower img {
  height: 320px;
  width: 1100px;
  margin: 25px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px black;
  justify-content: center;
}

.paragraph{
  position: relative;
  bottom: 10px;
}


.para {
  padding-right: 50px;
  font-size: 22px;
  margin-top: 10px;

}

.Empower h2 {
  font-size: 50px;
  margin-top: 35px;
}

/* Empower section end*/
/* media query start*/





@media (max-width:600px) {

  .main-page {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }

  .logo {
    font-size: 50px;
    margin-top: 2vw;

  }



  .back {

    width: 100%;

  }

  .back video {
    background-color: black;
    max-width: 95%;

  }

  .top {
    position: relative;
    bottom: 4vw;

  }



  .top h3:nth-child(2){
    overflow: hidden; 
    animation: 
    typin 3.5s steps(100, start),
    blink-care 1s step-end infinite
  }
@keyframes typin {
  from{top:-300px}
  to{

  }
  
}


  .top h3 {
    font-size: 10vw;
    line-height: 9vw;
  }

  .top button {
    font-size: 4vw;
    padding: 1.6vw 5vw;
  }


  .course h1 {
    margin-top: 4vw;
    padding-top: 4vw;

  }



  .course span {
    font-size: 10vw;
    letter-spacing: -4;
    padding: 0 ;
  }


  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
  /* padding: 20px auto;
  */
  padding: 50px; 
  padding-bottom: 20px;
    gap: 20px;
  }

  .course h3 {
    font-size: 5vw;
    margin-left: 2vw;
  }

  .course button {
    font-size: 4vw;
    padding: 1.5vw 5vw;
  }



  .waviy-succ{
    font-size: 40px;
  }


  .Alumni {
    padding-top: 20px;
    flex-wrap: wrap;
    height: auto;
  }

  .heading>h1 {

    padding: 4vw;
    font-size: 6vw;
  }



  .Alumni-container {
    width: 80%;
    height: 50vh;
  }

  .Alumni-container img {
    margin: 1vw auto;
    max-width: 100%;
    padding: 4px;
  }

  .Alumni-container .name {
    font-size: 5vw;
    color: #5257df;

  }

  .Alumni-container p:nth-child(3) {
    font-size: 3.5vw;
  }


  .Empower {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }


  .Empower img {
    max-width: 100%;
  }

  .Empower h2 {
    text-align: center;
    margin: 0;
    color: #000;
  }


  .Empower p {
    font-size: 6vw;
    color: #000000a8;
    padding: 20px;

  }

}



@media only screen and (max-width: 950px) and (min-width: 601px)  {



.top button{
font-size: 35px;
padding: 15px 40px;
font-weight: 600;
margin-left: 120px;

}

.course h1{
  font-size: 70px;
  margin: 50px 0;
}

.card-item{
  /* width: 50%; */

}
.course .card-list {
  padding-left: 0;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr)); 
}

.course span{
  font-size: 45px;
}

.course h3{
  font-size: 14px;
}

.course button{
  font-size: 20px ;
  padding: 15px 50px;
}

.heading h1{
  font-size: 60px;
  margin: 40px 0;
}

.waviy-succ{
  font-size: 40px;
}

.Alumni{
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.Alumni-container{

height: auto;
  width: 400px;
justify-content: center;

}

.Alumni-container img{
width: 90%;
display: block;
margin: 0 auto;
}


.Alumni-container .name{
  font-size: 40px;
  

}


.Alumni-container p:nth-child(3){
  font-size: 35px;
}

.Empower{
  flex-wrap: wrap;
  height: auto;
}

.Empower img{
  width: 100%;
  height: 400px;

}

.Empower h2{
  width: 100%;
  font-size: 50px;
  margin-top: 0;
  padding-left: 40px;
}
.Empower p{
  font-size: 20px;
  padding: 10px;
  padding-left: 40px;
}


}
