@font-face {
  font-family: sbhed;
  src: url(../fonts/head.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*background video start*/

html,
body {
  width: 100%;
  height: auto;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000;
}

.back {
  /* background-color: rebeccapurple; */
  width: 100%;
}

.back video {
  max-width: 100%;
  /* position: absolute; */
  top: 0;
  margin-left: 2vw;
}

/*background video end*/
.top {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 70px;
  font-weight: bolder;
  font-stretch: 300%;
  font-family: sbhed;
  background-color: #000000ba;
  /* text-shadow: 2px 2px 8px white; */
  padding: 20px 0;
}

.top h3 {
  top: 6vw;
  font-size: 7vw;
  right: 10vw;
  position: relative;
  /* display: inline-block; */
  color: #9a9de8;
  line-height: 7vw;
  text-shadow: 2px 2px 8px black;
}

.top button {
  font-size: 2vw;
  top: 6vw;
  right: 25.5vw;
  padding: 1vw 4vw;
  position: relative;
  background-color: #b8c0ff;
  border: none;
  transition: 0.5s;
  font-weight: 600;
  border-radius: 2px;
}

.top h3:nth-child(1) {
  right: 16vw;
}

.top button:hover {
  background-color: #e7c6ff;
  /* background-color: transparent; */
  scale: 0.89;
}

/* course cards start*/
.course {
  background-color: #c8b6ff;
  height: auto;
  box-shadow: 2px 1px 3px 2px black;
}

.course h1 {
  margin: 25px auto;
  text-align: center;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 20px auto;
  padding: 20px;
  gap: 20px;
}

.card-list .card-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.card-list .card-item:hover {
  border: 2px solid #000;
}

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.card-list span {
  text-transform: uppercase;
  display: block;
  /* background: #F7DFF5; */
  margin: 0 auto;
  margin-top: 20px;
  padding: 8px 15px;
  font-size: 1.4vw;
  border-radius: 50px;
  font-weight: 600;
}

.card-list .developer {
  background-color: #f7dff5;
  color: #b22485;
}

.card-list .designer {
  background-color: #d1e8ff;
  color: #2968a8;
}

.card-list .editor {
  background-color: #d6f8d6;
  color: #205c20;
}

.card-item h3 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 1vw 4vw;
  font-size: 20px;
  color: #000;
  /* height: 40px; */
  border-radius: 10px;
  background-color: #ffd6ff;
  /* margin-bottom: -10px; */
  margin-top: 40px;
  font-weight: 500;
}

.card-list .card-item .btn:hover {
  background: transparent;
  color: #000;
  scale: 0.89;

  transition: 0.5s;
  border: 1px solid black;
}

/* course cards end*/
/* alumni cards start*/
.heading {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}

.Alumni {
  background-color: #c8b6ff;
  height: 500px;
  box-shadow: 2px 1px 3px 2px black;
  width: 100%;
  justify-content: center;

  display: flex;
  /* flex-wrap: wrap; */
}

.Alumni-container {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.893);
  background-color: white;
  border: 2px solid;
  box-shadow: 2px 3px #000;
  width: 290px;
  border-radius: 10px;
  margin: 25px;
  padding: 20px;
  position: relative;
  height: 440px;
  text-align: center;
}

.Alumni-container:hover {
  box-shadow: 2px 2px 8px #000000;
  border-radius: 8px;
}

.alumni-profile {
  border-radius: 10px;
  display: block;
  height: 270px;
  width: 270px;
  margin-top: px;
  margin-left: -7.8px;
}

.alumni-profile:hover {
  box-shadow: 2px 1px 5px black;
  margin-top: 5px;
  margin-left: -7.8px;
}

.name {
  color: #e5056a;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
}

.Alumni-container p {
  margin-top: 10px;
}

/* alumni cards end*/
/* Empower section starts*/
.Empower {
  background-color: #c8b6ff;
  height: 500px;
  box-shadow: 2px 1px 3px 2px black;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  display: flex;
  /* flex-wrap: wrap; */
}

.Empower img {
  height: 450px;
  width: 600px;
  margin: 25px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px black;
  justify-content: center;
}

.para {
  font-size: 20px;
  margin-top: 20px;
}

.Empower h2 {
  font-size: 50px;
  margin-top: 100px;
}

/* Empower section end*/
/* media query start*/





@media (max-width:600px) {

  .main-page {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }

  .logo {
    font-size: 50px;
    margin-top: 2vw;

  }



  .back {

    width: 100%;

  }

  .back video {
    background-color: black;
    max-width: 95%;

  }

  .top {
    position: relative;
    bottom: 4vw;

  }

  .top h3 {
    font-size: 10vw;
    line-height: 9vw;
  }

  .top button {
    font-size: 4vw;
    padding: 1.6vw 5vw;
  }


  .course h1 {
    margin-top: 4vw;
    padding-top: 4vw;

  }

  .course span {
    font-size: 5vw;
  }


  .course h3 {
    font-size: 5vw;
    margin-left: 2vw;
  }

  .course button {
    font-size: 4vw;
    padding: 1.5vw 5vw;
  }

  .Alumni {
    flex-wrap: wrap;
    height: auto;
  }

  .heading>h1 {

    padding: 4vw;
    font-size: 6vw;
  }

<<<<<<< HEAD
  .Alumni-container {
    width: 80%;
    height: 50vh;
  }

  .Alumni-container img {
    margin: 1vw auto;
    max-width: 100%;
  }
=======
.Alumni-container{
  width: 80%;
  height:auto;
}

.Alumni-container img:hover{
  margin-left: 0;

}


.Alumni-container img{
  margin: 1vw auto;
  max-width: 100%;
}
>>>>>>> d261ecfea182eedcb922abc569e45a265c69aeaf

  .Alumni-container .name {
    font-size: 5vw;
    color: #5257df;

  }

  .Alumni-container p:nth-child(3) {
    font-size: 3.5vw;
  }


  .Empower {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }


  .Empower img {
    max-width: 100%;
  }

  .Empower h2 {
    text-align: center;
    margin: 0;
    color: #000;
  }


  .Empower p {
    font-size: 6vw;
    color: #000000a8;
    padding: 20px;

  }

<<<<<<< HEAD
}
=======
}


@media only screen and (max-width: 950px) and (min-width: 601px)  {



.top button{
font-size: 35px;
padding: 15px 40px;
font-weight: 600;
margin-left: 120px;

}

.course h1{
  font-size: 70px;
  margin: 50px 0;
}

.course .card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); 
}

.course span{
  font-size: 45px;
}

.course h3{
  font-size: 40px;
}

.course button{
  font-size: 40px ;
  padding: 15px 50px;
}

.heading h1{
  font-size: 60px;
  margin: 40px 0;
}

.Alumni{
  flex-wrap: wrap;
  width: 90%;
  height: auto;
}

.Alumni-container{

height: auto;
  width: 400px;
justify-content: center;

}

.Alumni-container img{
width: 90%;
display: block;
margin: 0 auto;
}


.Alumni-container .name{
  font-size: 40px;
  

}


.Alumni-container p:nth-child(3){
  font-size: 35px;
}

.Empower{
  flex-wrap: wrap;
  height: auto;
}

.Empower img{
  width: 100%;
  height: 700px;

}

.Empower h2{
  font-size: 90px;
  margin-top: 0;
  margin-left: 20px;
}
.Empower p{
  font-size: 50px;
  padding: 10px;
  margin-left: 10px;
}


}
>>>>>>> d261ecfea182eedcb922abc569e45a265c69aeaf
