
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*background video start*/
.back-video{
     width: 100%;
     opacity: 0.8;
     background-size: cover;
}
/*background video end*/
.sub-heading{
     text-align: center;
     font-size: 70px;
     font-weight: bolder;
     font-family:'Colonna MT';
     text-shadow: 2px 2px 8px white;
     padding: 20px 0;
}
.sub-heading:hover{
     color: #ff0378;
     transition: 0.5s;
     text-shadow: 2px 2px 8px black;
}

/* course cards start*/
.course{
     background-color: #C8B6FF; 
     height: auto;
      box-shadow: 2px 1px 3px 2px black;
}
.course h1{
     margin: 25px auto;
     text-align: center;
}
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
}
.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}
.card-list .card-item:hover {
    border: 2px solid #000;
}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}
.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}
.card-list .developer {
    background-color: #F7DFF5; 
    color: #B22485;
}   
.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}
.card-list .editor {
    background-color: #d6f8d6; 
    color: #205c20;
}
.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}
 .btn {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 220px;
    font-size: 20px;
    color: #000;
    height: 40px;
    border-radius: 10px;
    background-color: #df37a4;
    margin-bottom: -10px;
    margin-top: 40px;
}
.card-list .card-item:hover .btn  {
    background: #violet;
    color: #fff;
    width: 210px;
    font-size: 15px;
    height: 35px; 
    transition: 0.5s;

}

/* course cards end*/
/* alumni cards start*/
.heading{
      text-align: center;
     font-weight: bold;
     font-size: 15px;
     text-transform: uppercase;
     margin-top: 10px;
}
.Alumni{
     background-color: #C8B6FF; 
     height: 500px;
     box-shadow: 2px 1px 3px 2px black;
     width: 100%;
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     flex-wrap: wrap;
 }

 
 .Alumni-container {
    font-size: 16px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.893);
      background-color:white;
      border:2px solid;
      box-shadow:2px 3px  #000;
     width:300px;
     border-radius: 10px;
     margin: 25px;
     padding: 20px;
     position: relative;
     height: 450px;
     text-align: center;
}
.Alumni-container:hover{
     box-shadow: 2px 2px 8px #000000;
     border-radius: 8px;
}
 .alumni-profile{
     border-radius: 10px;
     display:block;
     height:270px;
     width: 270px;
     margin-top: 5px;
     margin-left: -7.8px;         
}
.alumni-profile:hover{
     box-shadow: 2px 1px 5px black;
      margin-top: 5px;
     margin-left: -7.8px;
    
}
.name{
     color: #e5056a;
     font-size: 25px;
     font-weight: bolder;
     text-align: center;
     margin-top: 10px;
}
.Alumni-container p{
     margin-top: 10px;
}
/* alumni cards end*/
/* Empower section starts*/
.Empower{
    background-color: #C8B6FF; 
     height: 500px;
     box-shadow: 2px 1px 3px 2px black;
     width: 100%;
     justify-content: center;
     margin-top: 20px;
     display: flex;
     flex-wrap: wrap;
}
.Empower img{
     height: 450px;
     width: 600px;
     margin: 25px;
     border-radius: 30px;
     box-shadow: 2px 2px 4px  black;
     justify-content: center;
}
.para{
     font-size: 20px;
     margin-top: 20px;
}
.Empower h2{
     font-size: 50px;
     margin-top: 100px;
}
/* Empower section end*/
/* media query start*/
@media (max-width: 952px) {

     .back-video{
     background-size: cover;  
}
    .card-list .card-item {
        padding: 15px;
    }
    .sub-heading{
     font-size: 40px;
    }
 .Alumni{
     height: auto;
    }
    .Alumni-container p{
        font-size: 15px;
    }
    .Empower h2{
     text-align: center;
}
    
}
@media screen and (max-width: 858px) {
    .card-list {
        margin: 0 auto;
    }
     .sub-heading{
     font-size: 40px;
    }
    .Alumni{
     height: auto;
    }
    .Alumni-container p{
        font-size: 15px;
    }
    .Empower{
     height: auto;
    }
    .Empower h2{
   
     margin: 20px;
}
  .Empower .paragraph{
     margin: 20px;
  }
}