* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    font-family: sans-serif;
    background: linear-gradient(-45deg, #b8c0ff78 0%, #9101ff47 100%);
}

.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: white;
    border-radius: 10px;
    color: black;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5)
}


.title {
    /* text-align: center; */
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    margin-bottom: 2vw;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    color: #000;
}

.title::before {
    width: 18px;
    height: 18px;
    margin-left: 8vw;
}

.title::after {
    width: 18px;
    height: 18px;
    margin-left: 8vw;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #000;
}

.form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

.form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    color: black;
}

.form .input-group {
    position: relative;
}

.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0, 3s ease-out;
}


.submit-btn {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    /* background-color: #9A9DE8; */
    transition: .5s;
}

.submit-btn:hover {
    scale: 0.88;
    color: white;
    cursor: pointer;
}

.forgot-pw {
    color: inherit;
}

#forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;

    opacity: 0;
    transition: 0.6s;

}

#forgot-pw:target {
    height: 100%;
    opacity: 1;
}

.close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}