*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: 8;
}
html,body{
   /* height: 100%; */
    display: grid;
    place-items: center; 
       background: #ffd6ff;
    text-align: center;
}
.h1{
    padding: 5px;
    margin-top: 30px;
    font-weight: bolder;
    
    font-size: 60px;
    font-family: serif;
    color: #e74c3c;
}
.container{
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    border-radius: 5px;
    height: 400px;
    max-width: 350px;
    margin: 2vw 20px ;
    background: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

}
.card:hover{
    height: 410px;
    border: 1px solid gray;
}
.card-img{
    height: 200px;
    width: auto;

}
.card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
padding: 2px;
}
.card .top-text{
    padding: 5px;
}
.card .top-text .name{
    font-size: 25px;
    font-weight: 600;
    color: #202020;
    font-family: pt sans-serif;
}
.card .top-text p{
    font-size: 20px;
    font-weight: 600;
    color: #e74d3c9a;
    line-height: 20px;
}
.card .bottom-text{
   padding: 0 20px 10px 20px;
   margin-top: 5px;
   background: white;
   opacity: 0;
   visibility: hidden;
   transition: 0.1s;
}
.card:hover .bottom-text{
    opacity: 1;
    visibility: visible;
}
.card .bottom-text .text{
    text-align: justify;
}
.card .bottom-text .btn{
    margin: 10px 0;
    border: 1px solid black;
    text-align: left;
    display: inline-block;
    border-radius: 3px;
}
.card .bottom-text .btn a{
    font-size: 1.4vw;
    text-decoration: none;
    background: #e74d3cca;
    color: #f2f2f2;
    padding: 8px 2vw ;
    border-radius: 3px;
    border: none;
    display: inline-flex;
    transition: 2s;
}
.card .bottom-text .btn a:hover{
color: black;
    background-color: white;
}

/* @media screen and (max-width:978px){
    .container{
        flex-wrap: wrap;
        flex-direction: column;

    }
    .card{
        max-width:700px;
        margin: 20px 0;
    }

} */