@font-face {
  font-family: para;
  src: url(../fonts/normal.ttf);
}

@font-face {
  font-family: head;
  src: url(../fonts/head.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: 8;
}
html,
body {
  /* height: 100%; */
  display: grid;
  place-items: center;
  text-align: center;
}


.main-container h1 {
  padding: 5px;
  padding-top: 30px;
  font-weight: bolder;

  font-size: 60px;
  font-family: serif;
  color: #181212;
  text-shadow: 0 9px 5px rgba(0, 0, 0, 0.38);
  border-bottom: 3px solid rgba(0, 0, 0, 0.483);
  
/* animation: jump 3s  infinite; */

}


@keyframes jump {
    0%{
        color: #ffffff1a;
        transform: translateY(0);
        margin-left:0 ;
    }
    
    25%{
        color: #a02ede;
        transform: translateY(-15px);
        margin-left: 15px;
     
    }


    100%{
        color: #ffffff1a;
        transform: translateY(0);
    }
}

.main-container{
  background: linear-gradient(-45deg, #b8c0ff78 0%, #9101ff3d 100%);

}


.container {
  padding:  40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
border-bottom: 2px solid black;
}

.card {
  position: relative;
  height: 200px;
  width: 310px;
  margin: 35px 4px;
  aspect-ratio: 16/9;
  background-color: #b8c0ffb2;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);

  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  border-radius: 10px;
}

.card:hover img {
  display: none;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.781);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #b8c0ff 0%rgb (145, 1, 255), 100%);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 10px;
  font-size: 12.5px;
  color: #010101;
  line-height: 1.4;
}

.card__button {
  position: relative;
  top: 20px;
  padding: 15px;
  border-radius: 8px;
  background: linear-gradient(-45deg, #8188b7 0%, #9101ffb1 100%);

  border: none;
  color: white;
  transition: 0.5s;
}

/* .card {
  position: relative;
  border-radius: 5px;
  height: 400px;
  max-width: 350px;
  margin: 2vw 20px;
  background: white;
  transition: 0.4s;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.817);
}
.card:hover {
  background-color: #90e0ef;
  scale: 0.95;
  -webkit-box-shadow: 7.5px 15px 6.5px 1px rgba(164, 168, 128, 0.8);
  -moz-box-shadow: 7.5px 15px 6.5px 1px rgba(164, 168, 128, 0.8);
  box-shadow: 7.5px 15px 6.5px 1px rgba(164, 168, 128, 0.8);
}

.card .name {
  font-family: head;
}

.card-img {
  height: 200px;
  width: auto;
}
.card .img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 2px;
}
.card .top-text {
  padding: 5px;
}
.card .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: #202020;
  font-family: pt sans-serif;
}
.card .top-text p {
  font-size: 20px;
  font-weight: 600;
  color: #e74d3c9a;
  line-height: 20px;
}
.card .bottom-text {
  font-family: para;
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  background-color: #90e0ef;
}

.card:hover .img img {
  filter: blur(2px);
}

.card:hover .bottom-text {
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text {
  text-align: justify;
}
.card .bottom-text .btn {
  margin: 10px 0;
  border: 1px solid black;
  text-align: left;
  display: inline-block;
  border-radius: 3px;
}
.card .bottom-text .btn a {
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.5s;
  font-size: 15px;
  padding: 10px 35px;
  position: absolute;
  left: 110px;
  bottom: 20px;
} */

#check {
  visibility: hidden;
}

.res {
  visibility: hidden;
}

.card .bottom-text .btn a:hover {
  color: black;
  background-color: white;
  border: 1px solid gray;
}

@media (max-width: 600px) {
  .card .bottom-text .btn a {
    font-size: 15px;
    padding: 1.5vw 40px;
  }

  .checkbtn {
    display: block;
  }

  nav h2 {
    display: none;
    position: relative;
    left: 5vw;
  }

  .res {
    visibility: visible;
    display: inline;
    font-size: 7vw;
    position: relative;
    left: 20vw;
    top: 2vw;
  }

  #check {
    visibility: visible;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .card .bottom-text .btn a {
    font-size: 15px;
    padding: 1.5vw 40px;
  }

  nav h2 {
    position: relative;
    left: 50px;
  }

  #check {
    visibility: visible;
  }

  ul li {
    display: none;
  }
}

@media (min-width: 950px) and (max-width: 1150px) {
  nav h2 {
    display: none;
  }

  .res {
    visibility: visible;
    display: inline;
    font-size: 5vw;
    position: relative;
    left: 10vw;
    top: 1vw;
  }
}

/* @media screen and (max-width:978px){
    .container{
        flex-wrap: wrap;
        flex-direction: column;

    }
    .card{
        max-width:700px;
        margin: 20px 0;
    }

} */
