*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: 8;
}
html,body{
   /* height: 100%; */
    display: grid;
    place-items: center;
    background: linear-gradient(-45deg, #b8c0ff78 0%, #a546ee44 100%);

    text-align: center;
}  

.main-container{
    background: linear-gradient(-45deg, #b8c0ff78 0%, #9101ff3d 100%);

}

.h1{
    padding: 5px;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 60px;
    font-family: serif;
    color:#202020;
      
animation: jump 3s  infinite;
text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.504);
}


@keyframes jum {
    100%{
        color: #ffffff1a;
        transform: translateY(0);
        margin-left:0 ;
    }
    
    /* 25%{
        color: #824002;
        transform: translateY(-15px);
        margin-left: 15px;
      
    }


    100%{
        color: #ffffff1a;
        transform: translateY(0);
    } */
}




.card {
    position: relative;
    height: 200px;
    width: 310px;
    margin: 35px 4px;
    aspect-ratio: 16/9;
    background-color: #b8c0ffb2;
  
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
  
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card img {
    border-radius: 10px;
  }
  
  .card:hover img {
    display: none;
  }
  
  .card__image {
    width: 100%;
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.781);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #b8c0ff 0%rgb (145, 1, 255), 100%);
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 10px;
    font-size: 12.5px;
    color: #010101;
    line-height: 1.4;
  }
  
  .card__button {
    position: relative;
    top: 20px;
    padding: 15px;
    border-radius: 8px;
    background: linear-gradient(-45deg, #8188b7 0%, #9101ffb1 100%);
  
    border: none;
    color: white;
    transition: 0.5s;
  }




  .container{
      padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-bottom: 40px;
    border-bottom: 2px solid black;
}

.main-ftr{
    background-color:#ede1e1;
    width: 100%;
}


.res{
    display: none;
}

@media screen and (max-width:600px){


    nav h2{

        display: none;
        position: relative;
        left: 5vw;
    }

    .res{
        visibility: visible;
        display: inline;
        font-size: 7vw;
position: relative;        
left: 20vw;
top: 2vw;

    }

    .card .bottom-text .btn a{
        font-size: 15px;
        padding: 1.5vw 40px;
        }
    .container{
        flex-wrap: wrap;
        flex-direction: column;

    }
    .card{
        max-width:700px;
        margin: 20px 0;
    }

}


@media (min-width:601px) and (max-width:900px) {



    nav h2{
        position: relative;
      left:50px ;
    }
    ul li{
        display: none;
    }
}


@media (min-width:950px) and (max-width:1150px) {


    nav h2{
        display: none;
    }
    
    
        .res{
            visibility: visible;
            display: inline;
            font-size: 5vw;
    position: relative;        
    left: 10vw;
    top: 1vw;
    
        }
    
        
    }